---
---
@import "starving-artist";

$body-font-family: "Open Sans", "Helvetica Neue", Helvetica, Roboto, Arial;
$header-font-family: "Signika", "Helvetica Neue", Helvetica, Roboto, Arial;

// HTML OVERRIDES

body {
	font-family: $body-font-family;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $header-font-family;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2.5em;
}

h3 {
	font-size: 2em;
}

p {
	font-size: 1.5em;
}

strong {
	font-family: $header-font-family;
}

blockquote p {
	font-size: 1.25em;
}


// THEME OVERRIDES

.post-title {
	font-size: 3em;
}

.roll article p{
	font-size: 1em;
}


// CUSTOM CLASSES

.post-thumb {
	padding: 1em;
}

.post-image {
	display: block;
  	margin: 0 auto;
}

.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	height: auto; 
}
.embed-container iframe, .embed-container object, .embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%; 
}